.container{
    width: 100%;
}

.navbar{
    margin-top: 50px;
}

header{
    background-color: black;
    margin-top: 100px;
    padding: 25px;
}

.logo{
    width: 25%;
    height: 150px;
}

li > a {
    color: white;
}

figure {
    width: 100%;
    height: 150px;
}

main{
    margin-top: 50px;
}

.select-unidade{
    margin-top: 50px;
}

.form-select{
    border-radius: 10px;
    transition: all 0.5s;
}

.form-select:hover{
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.5s;
}

.form-select{
    border-end-start-radius: 50px;
    border-start-start-radius: 50px;
}

.button{
    border-radius: 50px;
    transition: all 0.25s;
}

.button:hover{
    transform: scale(1.2);
    transition: all 0.4s;
}

.form-unidadesInfo{
    
}